# Flutter
.dart_tool/
.packages
build/

# Android
.gradle/
local.properties
.cxx/
captures/

# iOS
ios/Pods/
ios/.symlinks/

# Keystore (seguridad)
key.properties
**/*.keystore
**/*.jks

# Generated / misc
*.log
*.lock
GeneratedPluginRegistrant.java

# Gradle wrapper
# gradle-wrapper.jar
# /gradlew
# /gradlew.bat
